* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: /*#0e2f44*/#949e96;
	/*height: 150%;*/
	background-image: url("blur.jpg");
    backdrop-filter: blur(8px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    background-color: rgba(0,0,0,0.5);
    color: rgb(228, 228, 228);
    box-shadow: 5px 5px 5px rgb(61, 61, 61);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    width: 120px;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    padding: 5px;
}

.dropdown-item:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.5);
}

.dropdown-item:nth-of-type(even) {
    background-color: rgba(0,0,0,0.3);
}


.dropdown-item:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
}

.dropdown-item:active {
    background-color: rgba(0,0,0,0.75);
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.nav-left {
    justify-self: left;
}

.nav-middle {
    justify-self: center;
}

.nav-middle > ul {
    display: flex;
    text-align: center;
}

.nav-right {
    justify-self: right;
    padding: 5px 10px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

.button:hover {
    background-color: #407bbf;
}

.button-clickable:active {
    background-color: #346297;
}

.shadow {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}