#board {
    border: 2px solid black;
    margin: auto;
}

.board-easy {
    width: 225px;
}

.board-medium {
    width: 400px;
}

.board-hard {
    width: 750px;
}

#board-grid {
    display: grid;
}

.board-grid-easy {   
    height: 225px;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.board-grid-medium {
    height: 400px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.board-grid-hard {
    height: 400px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(30, 1fr);
}

#board-panel {
    display: grid;
    background-color: #bebebe;
    grid-template-columns: 40% 20% 40%;
    border: 1px solid #808080;
}

.panel-component {
    text-align: center;
    font-weight: bold;
    user-select: none;
}

#mine-counter, #timer {
    font-size: 18px;
    padding: 15px 10px 10px 10px;
    background-color: #363636;
    color: #ff0000;
    text-shadow: 1px 1px 1px #000000;
}

#game-reset {
    font-size: 25px;
    padding-top: 5px;
}

#game-reset:hover {
    background-color: #808080;
}

#game-reset:active {
    background-color: #ff0000;
}
    
.cell {
    border: 1px solid #808080;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.cell:hover {
    background-color: #808080;
}

.cell-default {
    background-color: #bebebe;
}

.cell-revealed {
    background-color: #dcdcdc;
}

.cell-mine {
    background-color: #ff0000;
}